body, h1, p {
  margin: 0;
  padding: 0;
}
img{
	align-content: center
}
body {
  background-color: #001f3f; 
  font-family: Arial, sans-serif;
  color: white;
}
header {
  background-color: #fff;
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid #001f3f; 
}

header h1 {
  font-size: 30px;
  color: #001f3f;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
}
.logo {
  display: block;
  margin: 0 auto;
  width: 150px;
}
header button {
  background-color: cornflowerblue; 
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}
header button:hover {
  background-color: #001f3f; 
}
section {
  text-align: center;
  padding: 20px;
}
section h2 {
  font-size: 24px;
  color: #001f3f; 
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
table tr {
  border-bottom: 1px solid #001f3f; 
}
table td {
  padding: 10px;
}
footer {
  background-color: #001f3f; 
  text-align: center;
  padding: 10px;
  color: white;
}
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
}

header {
  background-color: #1f2e4d;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

h1, h2 {
  margin: 0;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav button {
  background-color: #1f2e4d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

nav button:hover {
  background-color: #506c94;
}

.container {
  margin: 20px;
}

.event {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.event-date {
  color: #888;
  margin-top: 10px;
}

